.create-student-btn {
  padding: 5px;
  background-color: #003c42;
  color: white;
  border-radius: 5px;
}

.modal {
  display: flex;
  flex-direction: column;
  color: white;
}

.modal input {
  height: 28px;
}

.modal-button {
  width: 100%;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.close-modal-button {
  width: 10%;
  color: black;
  background-color: white;
  border: 1px solid black;
}